{:paths ["src"]
 :pods  {clj-kondo/clj-kondo {:version "2023.01.20"}}
 :tasks {lint
         {:doc      "Run linting for Tonsky formatting and clj-kondo."
          :requires ([pod.borkdude.clj-kondo :as clj-kondo]
                     [com.mjdowney.tfmt :as tfmt])
          :task     (do
                      (tfmt/lint {:root "src"})
                      (println "")
                      (clj-kondo/print! (clj-kondo/run! {:lint ["src"]})))}

         test
         {:docs       "Run unit tests."
          :extra-deps {io.github.matthewdowney/rich-comment-tests
                       {:git/tag "v1.0.2" :git/sha "4501366"}}
          :requires   ([com.mjdowney.rich-comment-tests.test-runner :as rct])
          :task       (rct/run-tests-in-file-tree! {:dirs #{"src"}})}}}
